body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	

} 
 

.dice-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
	width: 800px;
	height: 700px;
	margin-top: 50px;
	background-image: url(dice.jpg);
    
}

.dice {
	display: flex;
	justify-content: center;
	justify-self: center;
	width: 100px;
	height: 100px;
	position: relative;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
	background-color: whitesmoke;

}

.dice-dot {
	--top: 0%;
	--left: 0%;

	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;

	/* Dot Positioning */
	position: absolute;
	top: var(--top);
	left: var(--left);
	transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.roll-dice {
	display: flex;
	justify-content: center;
	margin-top: 700px;
	position: absolute;
	background-color: rgb(213, 212, 235);
	width: 130px;
	height: 40px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: x-large;
	font-weight: 500px;
	border-radius: 30px;
	
}
#result {
	display: flex;
	justify-content: center;
	/* padding: 50px; */
	margin-top: 400px;
	position: absolute;
	font-style: italic;
	/* font-weight: 800; */
	font-size: xx-large;
	color: aliceblue;
	 /* background-color: rgba(255, 255, 255, 0.768);  */
}

.input {
	display: flex;
	flex-direction:row;
	margin-top: 500px;
	position: absolute;
	
	
}
input {
	
	padding: 10px;
	margin-right: 10px;
}

#instructions {
	display: flex;
	
	position: absolute;
	align-self: flex-start;
	margin-top: 200px;
	color: white;
	width: 750px;
	z-index: 1;
	/* height: 600px; */
}

h2 {
	display: flex;
	justify-self: start;
	position: absolute;
	align-self: start;
	margin-top: 100px;
	color: white;
	font-family: 'Tilt Prism', cursive;
	z-index: 1;
	font-size: 55px
}


/* .animate {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
  }
  
  @keyframes example {
	0%   {background-color:red; left:0px; top:0px;}
	25%  {background-color:yellow; left:200px; top:0px;}
	50%  {background-color:blue; left:200px; top:200px;}
	75%  {background-color:green; left:0px; top:200px;}
	100% {background-color:red; left:0px; top:0px;}
  } */